.Resume {
  width: 100%;
  padding: 24px;
}

.ResumeTitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #001f7a;
  margin-bottom: 8px;
}

.Address {
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #455587;
  margin-bottom: 24px;
}

.Description {
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #001f7a;
}
