@import '../../../../styles/variables';

.ModalBody {
  border-radius: 1rem 0 1rem 1rem;
}

.ChatMenuDropdownBody {
  border-radius: 1rem 0 1rem 1rem !important;

  & > div + div {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

.ChatMenuDropdownMainOpen > div > div {
  background: #eaeaf4;
}

.ChatMenuDropdownBodyPosition {
  top: 100%;
  right: 0;
  transform: translate(-0.8rem, 1.3rem);
}

.UserMenuDropdownItem {
  font-size: 14px;
  font-weight: 500;
  color: $blue-800;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 2.25rem;
}
