@chatix:registry=https://gitlab.bchat.dev/api/v4/packages/npm/
//gitlab.bchat.dev/api/v4/packages/npm/:_authToken=2Zx2yAyHiUfsXLX46-wg
//gitlab.bchat.dev/api/v4/projects/18/packages/npm/:_authToken=2Zx2yAyHiUfsXLX46-wg
