.CollapseContent {
  p {
    font-weight: 400;
    font-size: 13px;
    line-height: 175%;
    letter-spacing: 0.02em;
    color: #001f7a;
    margin: 32px 0;
    white-space: pre-wrap;
  }

  hr {
    background-color: #ebe8fd;
    border: 1px solid #ebe8fd;
    border-radius: 55px;
  }
}
