@import '../../../../styles/variables';

.Button {
  cursor: pointer;
  color: $blue-800;
  display: flex;
  align-items: center;
  padding: 1.5rem 2.5rem;
  border-radius: 5.5rem;
  max-width: 26rem;

  position: absolute;
  bottom: 1rem;
  right: 1rem;
  left: 1rem;

  & > div {
    display: flex;
    align-items: center;
  }
}

.ArrowIcon {
  rotate: y 180deg;
  margin-right: 1rem;
}
