.HeaderOffer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.Offers {
}

.Offer {
  margin-bottom: 56px;
  border: 1px solid #ededfc;
  border-radius: 8px;
  padding: 1rem;
}
