.UserInfo {
  text-align: center;

  h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #001f7a;
    margin: 40px 0 10px;
  }

  .UserDescription,
  .UserWebsite,
  .UserEmail {
    display: block;
    font-size: 13px;
    line-height: 110%;
    letter-spacing: 0.01em;
    color: #001f7a;
    margin-bottom: 5px;
  }

  .UserDescription {
    font-size: 16px;
    font-weight: 500;
  }
}

.InfoBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.InfoBlockItem {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #001f7a;
  user-select: none;
}
