@use '../../styles/variables';

.DropdownItem {
  display: flex;
  align-items: center;
}

.DropdownItemAvatar {
  height: variables.rem(48px);
  width: variables.rem(48px);
  margin-right: variables.rem(16px);
}

.DropdownItemAdd {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1;
  color: variables.$blue-700;
  border: 1px solid currentColor;
  border-radius: 100%;
  height: 100%;
  width: 100%;
}

.DropdownItemBody {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & h4,
  & p,
  .Title {
    margin: 0;
    font-size: variables.rem(13px);
    font-weight: 500;
    line-height: variables.rem(18px);
  }

  & h4 {
    font-weight: 700;
    margin-bottom: 4px;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & p {
    color: #455587;
  }
}

.DropdownItemSelected {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: auto;
}

.Title {
  display: flex;
  align-items: center;
  line-height: 25px;
  color: variables.$blue-800;
  cursor: pointer;

  > span {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  span {
    margin-right: variables.rem(8px);
  }
}
