.NewChatHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 20px 5px;
  margin-bottom: 35px;

  > div {
    display: flex;
    align-items: center;
    gap: 30px;

    span {
      font-family: Manrope, sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 140%;
      color: #001f7a;
    }
  }
}

.NewChat {
  padding: 0 16px 16px 0;
  background: rgba(255, 255, 255, 0.96);
  backdrop-filter: blur(27.5px);

  .NewChatItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;

    &:hover {
      background: #f6f6fe;
      border-radius: 8px;
      cursor: pointer;
    }
  }

  .NewChatInfo {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .TitleAndSubTitle {
    h2 {
      font-family: 'Manrope';
      font-weight: 600;
      font-size: 13px;
      line-height: 140%;
      color: #001f7a;
      margin: 0;
      margin-bottom: 4px;
    }

    h3 {
      font-family: 'Manrope';
      font-weight: 400;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 0.01em;
      color: #455587;
      margin: 0;
    }
  }

  :global {
    .icon-new-group {
      stroke: none;
    }

    .icon-new-channel {
      stroke: none;
    }
  }
}

.Contacts {
  margin-top: 30px;

  h2 {
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #001f7a;
    margin: 0;
    margin-bottom: 16px;
    padding: 0 20px;
  }

  .SwitchUser {
    background: none;
    height: 13px;
    width: 13px;
    border: 0.5px solid #001f7a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      background: #001f7a;
      height: 9px;
      width: 9px;
      border-radius: 50%;
      display: block;
      position: absolute;
    }
  }
}
