.wrapper {
  margin-top: 40px;
}

.PageTitle {
  padding: 37px 0 11px;
}

.Btn {
  background: #f6f6fe;
  border-radius: 55px;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #2c0bcb;
  padding: 11px 24px;
  outline: none;
  border: none;

  &:hover {
    cursor: pointer;
    background: #2700e5;
    color: #ffffff;
  }
}

.FaqContentTitle {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 145%;
  letter-spacing: -0.01em;
  color: #001f7a;
  margin-bottom: 8px;
}

.FaqContentSubTitle {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 170%;
  letter-spacing: 0.02em;
  color: #455587;
  margin-bottom: 40px;
}
